# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

# Subset of the dataset: only hourly
salaries_hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']
salaries_hourly.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68

In [8]:
from statsmodels.stats.weightstats import ztest as ztest

In [9]:
salaries_hourly.shape

(8022, 8)

In [10]:
# Since we have an N of 8022 and only one sample (Hourly workers), we go for a Z-test
# H0: Hourly rate == 30
# H1: Hourly rate != 30

statistic, p_value = ztest(salaries_hourly['Hourly Rate'], value = 30, alternative="two-sided")
p_value

1.8228873859286195e-94

In [11]:
statistic

20.6198057854942

In [12]:
# Since p-value is < 0.05, we have enough evidence to reject the null hypothesis
# Therefore, the hourly rate is significantly different from 30€/h

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
# Your code here:

# Subset of the dataset: only Police department
salaries_police = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]
salaries_police.shape

(13404, 8)

In [14]:
# Since we have an N of 13404 and only one sample (salary of the police), we go for a Z-test
# H0: Annual Salary == 86000
# H1: Annual Salary > 86000

statistic, p_value = ztest(salaries_police['Annual Salary'], value = 86000, alternative="larger")
p_value

0.0010280845287547855

In [15]:
statistic

3.081997005712994

In [16]:
# Since the p-value is < 0.025, we have enough evidence to reject H0,
# Therefore, the annual salary for this year is greater than $86000/year

Using the `crosstab` function, find the department that has the most hourly workers.

In [17]:
# Your code here:

pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])['Hourly'].sort_values(ascending=False).head(3)

Department
STREETS & SAN    1862
WATER MGMNT      1513
OEMC             1273
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [18]:
# Your code here:

# Subset of the STREETS & SAN department:
salaries_streets = salaries[(salaries['Department'] == 'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')]
salaries_streets.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
62,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
90,"ACHA, SHARAZAN MARLENE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
106,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
111,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
132,"ADAMS, GARY W",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21

In [19]:
# H0: Hourly Rate == 35
# H1: Hourly Rate < 35

statistic, p_value = ztest(salaries_streets['Hourly Rate'], value = 35, alternative="smaller")
p_value

5.478855641943434e-22

In [20]:
# Given that p-value is < 0.025, we have enough evidence to reject H0,
# therefore, we accept H1 and, indeed, the workers of this department are right and they earn less than $35/hour.

In [21]:
salaries_streets['Hourly Rate'].mean()

33.728378088076845

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [22]:
# Your code here:
from scipy.stats import ttest_ind, norm, t
from scipy import stats

In [23]:
salaries_hourly.shape

(8022, 8)

In [24]:
salaries_hourly.sample()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
17532,"LYONS, JAMES P",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07

In [25]:
t.interval(confidence = 0.95, 
           df = salaries_hourly.shape[0] - 1, 
           loc = salaries_hourly['Hourly Rate'].mean(), 
           scale = stats.sem(salaries_hourly['Hourly Rate']))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [26]:
salaries_police.sample()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2375,"BLOCKER, KATIE",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN

In [27]:
t.interval(confidence = 0.95, 
           df = salaries_police.shape[0] - 1, 
           loc = salaries_police['Annual Salary'].mean(), 
           scale = stats.sem(salaries_police['Annual Salary']))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [33]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [38]:
salaries_hourly.shape[0]

8022

In [39]:
salaries_salary = salaries[salaries['Salary or Hourly'] == 'Salary']
salaries_salary.shape[0]

25161

In [41]:
salaries.shape[0]

33183

In [31]:
p = salaries_hourly.shape[0] / (salaries.shape[0])
p # this is the actual proportion

0.24175029382515142

In [40]:
# H0: p == 0.25
# H1: p != 0.25

count = salaries_hourly.shape[0]
nobs = salaries.shape[0]
value = 0.25
alternative = "two-sided"
prop_var = False

p_value = statsmodels.stats.proportion.proportions_ztest(count, nobs, value, alternative, prop_var)[1]
p_value

0.0004481127249057967

In [ ]:
# Since the p-value is < 0.05, we have enough evidence to reject H0,
# therefore the proportion of hourly workers is significantly different from 25% 
# (although it is quite close: 0.242)