# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [96]:
# import numpy and pandas
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (16., 9.)})
sns.set_style('whitegrid')

import pandas as pd
np.random.seed(123)
from scipy.stats import sem
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest
from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

In [8]:
salaries.isna().sum().sum()

58344

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
# Your code here:
salaries.groupby(salaries["Department"]).count().Name

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [41]:
# With a confidence iterval of 95%, can we say that all salary is arrond $30/Hr

# Your code here:
hourly = salaries.loc[salaries["Salary or Hourly"]=="Hourly"]
mean_rate = hourly["Hourly Rate"].mean()
sample_size = hourly["Hourly Rate"].shape[0]



SE = np.std(hourly["Hourly Rate"]) / np.sqrt(sample_size) #Â 25


CI = mean_rate - 1.96 * SE, mean_rate + 1.96 * SE
CI

(32.52350999911822, 33.053605433444346)

In [76]:
from statsmodels.stats.weightstats import ztest as ztest

In [79]:
stat, p_value=ztest(hourly["Hourly Rate"],value=30,alternative="two-sided")
if p_value < 0.05:
    print("We can refuse with a 95% of confidence that the mean salary is not 30")
if p_value > 0.05:
    print("We don't have enough evidence to reject H0")

We can refuse with a 95% of confidence that the mean salary is not 30

In [84]:
from scipy.stats import normaltest
a,pvalue=normaltest(hourly["Hourly Rate"])
if pvalue < 0.05:
    print("Distribution is not Normal")
if pvalue > 0.05:
    print("Distribution is normal")

Distribution is not Normal

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [87]:
# Your code here:

sal = salaries.loc[salaries["Salary or Hourly"]=="Salary"]
mean_rate = sal["Annual Salary"].mean()
sample_size = sal["Annual Salary"].shape[0]

stat, p_value=ztest(sal["Annual Salary"],value=86000,alternative="larger")
if p_value < 0.025:
    print("We can refuse with a 95% of confidence that the mean salary is not 86000 a year")
if p_value > 0.025:
    print("We don't have enough evidence to reject H0")

We can refuse with a 95% of confidence that the mean salary is not 86000 a year

Using the `crosstab` function, find the department that has the most hourly workers.

In [52]:
# Your code here:
a = pd.crosstab(index=salaries["Department"],columns=salaries["Salary or Hourly"])
b=a["Hourly"].sort_values(ascending=False)
b.head(1)

Department
STREETS & SAN    1862
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [91]:
# Your code here:
mydept = salaries.loc[(salaries["Department"]=="STREETS & SAN")& (salaries["Salary or Hourly"]=="Hourly")]


mean_rate = mydept["Hourly Rate"].mean()
sample_size = mydept["Hourly Rate"].shape[0]

stat, p_val = ttest_1samp(mydept["Hourly Rate"], 35, nan_policy='omit', alternative='greater')

if p_value < 0.025:
    print("We can refuse the hyphotesis")
if p_value > 0.025:
    print("We don't have enough evidence to reject H0")

We can refuse the hyphotesis

In [92]:
print(p_value)

1.4884180821334978e-09

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [97]:
sem_hourly = sem(hourly["Hourly Rate"],  nan_policy='omit')
t.interval(0.95, df = len(hourly)-1, loc=hourly["Hourly Rate"].mean(), scale=sem_hourly)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [99]:
# Your code here:

yearly=salaries[salaries["Salary or Hourly"]== "Salary"]
sem_yearly = sem(hourly["Hourly Rate"],  nan_policy='omit')
t.interval(0.95, df = len(yearly)-1, loc=yearly["Annual Salary"].mean(), scale=sem_yearly)

(86786.73471803166, 86787.2648622714)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [100]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest as proportions_ztest
count = len(salaries[salaries["Salary or Hourly"]== "Hourly"])
nobs = len(salaries)
statistic, p_value =  proportions_ztest(count, nobs, value=0.25, alternative='two-sided')
if p_value < 0.05:
    print(f"Hourly workers in the City of Chicago is significantly different from 25% with a p-value of {p_value} and observed proportion of {round((count/nobs)*100, 2)} %")
if p_value > 0.05:
    print(f"The Salary is NOT significally smaller than $35/hour (p-value of {p_value})")

Hourly workers in the City of Chicago is significantly different from 25% with a p-value of 0.0004481127249057967 and observed proportion of 24.18 %